html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

section#title-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
  height: 100vh;
  width: 100vw;
}

section#title-description h3, section#title-description h2, section#title-description p {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
}

section#title-description .headline {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

section#title-description .headline h3 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

section#title-description .headline h2 {
  font-size: 3rem;
}

section#title-description .headline > * {
  letter-spacing: 0.2rem;
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

section#title-description p {
  margin: 2rem 0;
  line-height: 1.2rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

section#title-description .video-thumbnail {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

section#title-description .video-thumbnail img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  section#title-description {
    width: 50vw;
    height: auto;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#title-description .container {
    padding-top: 2rem;
    width: 300px;
  }
  section#title-description .container .headline, section#title-description .container .video-thumbnail {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  section#title-description .container p {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
    translate: 0.8rem;
  }
  section#title-description .video-thumbnail img {
    width: 100%;
  }
}

section#films {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #000;
  padding-bottom: 50vh;
}

section#films .films-list {
  width: 100vw;
  padding: 0 1rem;
}

section#films .films-list .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#films .films-list .links li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section#films .films-list .links a {
  color: #fff;
  font-family: "Yu Gothic";
  text-transform: uppercase;
  width: 90px;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  margin: 3rem 0;
}

section#films .films-list .caroussel-container {
  white-space: nowrap;
  overflow: hidden;
}

section#films .films-list #films-caroussel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

section#films .films-list #films-caroussel li.caroussel-item {
  height: auto;
  width: calc(100vw - 2rem);
}

section#films .films-list #films-caroussel li.caroussel-item img {
  width: 100%;
}

section#films .caroussel-controllers {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
   padding-bottom:5rem;
}

section#films .caroussel-controllers button {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline:none;
}

section#films .caroussel-controllers button:hover {
  opacity: 1;
}

section#films .caroussel-controllers button.prev::before {
  content: "";
  display: block;
  background-color: #fff;
  height: 1px;
  width: 50px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-right: 10px;
}

section#films .caroussel-controllers button.next::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 1px;
  width: 50px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-left: 10px;
}

section#films .caroussel-controllers button.prev:hover::before {
  width: 60px;
}

section#films .caroussel-controllers button.next:hover::after {
  width: 60px;
}

@media screen and (min-width: 768px) {
  section#films {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-bottom: 0;
  }
  section#films .films-list {
    width: 50vw;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#films .films-list #films-caroussel li.caroussel-item {
    height: auto;
    width: calc(50vw - 2rem);
  }
  section#films .films-list #films-caroussel li.caroussel-item img {
    width: 100%;
    z-index: 100;
  }
  section#films .caroussel-controllers {
    width: 100vw;
  }
}
/*# sourceMappingURL=main.css.map */